{% extends 'layouts/base.html' %} {% block content %}

<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py- h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-md-5 mx-md-4">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-2">Formulario de Registro</h3>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="form-outline mb-4 col-md-6">
                  <label>Nombre de Usuario: </label>
                  {{ form.username }}
                </div>
              </div>
              <div class="row">
                <div class="form-outline mb-4 col-md-6">
                  <label>Contraseña: </label>
                  {{ form.password1 }}
                </div>
              </div>

              <div class="form-outline mb-4 col-md-6">
                <label>Confirmar contraseña: </label>
                {{form.password2}}
              </div>

              <div class="mt-4 pt-2 col-md-2">
                <button class="btn btn-primary gradient-custom-2">
                  Registrarse
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock%}
