{% extends 'layouts/base.html' %} {% block content %}
<h1>BEAUTY BUSSINESS</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus placeat qui
  libero blanditiis est impedit. Voluptate ratione numquam doloremque earum
  laudantium dolorem possimus ut, atque voluptatum dolorum cum nisi qui,
  blanditiis praesentium ducimus unde tempore provident. Ea exercitationem porro
  aut quae perferendis dicta, omnis qui vitae expedita ducimus iste voluptate,
  numquam, facere totam ut at deserunt vero officia dolorem culpa voluptas.
  Nesciunt, ex. A, dolore dolores! Fugit nihil iure quam aut. Repudiandae fuga
  eveniet necessitatibus, facilis sequi eos ut, quas ex mollitia alias
  accusantium laboriosam maxime. Aperiam voluptatum, doloribus molestias totam
  consectetur ratione unde sapiente laborum odio aspernatur, quidem nostrum?
</p>
{% endblock %}
